* {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

:root {
  --primary-desaturated-red: hsl(0,36%,70%);
  --pirmary-soft-red: hsl(0,93%,68%);
  --neutral-dark-grayish-red: hsl(0,6%,24%);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  background-color: transparent;
  width: 50px;
  font-weight: 500;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: url("../assets/img/bg-pattern-desktop.svg");
  overflow-x: hidden;
}

#nav {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#nav #logo {
  margin-left: 80px;
  width: 100px;
  height: 50px;
  background-image: url("../assets/img/logo.svg");
  background-size: contain;
  background-position: center left;
  background-repeat: no-repeat;
}

main {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto;
  overflow-x: hidden;
}

main #content {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  padding: 80px;
}

main #content #title {
  width: 100%;
  font-size: 3rem;
  letter-spacing: 0.6rem;
  margin-bottom: 20px;
}

main #content #title p:nth-child(1) {
  font-weight: 300;
  color: var(--primary-desaturated-red);
  line-height: 1.2;
}

main #content #title p:nth-child(2) {
  font-weight: 700;
  color: black;
  line-height: 1.2;
}

main #content #description {
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--primary-desaturated-red);
  line-height: 1.5;
  margin-bottom: 30px;
}

main #content #form {
  width: calc(100% - 30px);
  max-width: 300px;
  height: 40px;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

main #content #form #email {
  position: relative;
  height: 38px;
  width: 100%;
  line-height: 38px;
  border: none;
  padding-left: 20px;
  background-color: transparent;
  border: none;
  color: black;
}

main #content #form #email::-webkit-input-placeholder {
  width: 50px;
  font-weight: 700;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
}

main #content #form #email:-ms-input-placeholder {
  width: 50px;
  font-weight: 700;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
}

main #content #form #email::-ms-input-placeholder {
  width: 50px;
  font-weight: 700;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
}

main #content #form #email::placeholder {
  width: 50px;
  font-weight: 700;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
}

main #content #form .submit {
  position: absolute;
  height: 40px;
  width: 70px;
  top: -2px;
  right: 0px;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  -webkit-box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main #content #form .submit::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  background-image: url("../assets/img/icon-arrow.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

main #content #form .submit::after {
  content: '';
  display: none;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  left: -30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("../assets/img/icon-error.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

main #content #form .submit.error::after {
  display: block;
}

main #content #form .submit:hover, main #content #form .submit:active, main #content #form .submit:checked {
  -webkit-filter: saturate(80%) brightness(120%);
          filter: saturate(80%) brightness(120%);
}

main #content #form #submit {
  display: none;
}

main #content #form #error {
  opacity: 0;
  margin-top: 10px;
  color: var(--pirmary-soft-red);
  font-size: 0.7rem;
  font-weight: 500;
  padding-left: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main #content #form #error.error {
  opacity: 1;
}

main #hero-image {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  height: 100vh;
  background-image: url("../assets/img/hero-desktop.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

main #popup {
  overflow: hidden;
  display: none;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-backdrop-filter: blur(5px) opacity(100%);
          backdrop-filter: blur(5px) opacity(100%);
}

main #popup #popup-content {
  position: absolute;
  width: 100%;
  max-width: 500px;
  height: 300px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

main #popup #popup-content::before {
  content: '\254B';
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

main #popup #popup-content p:nth-child(1) {
  font-weight: 700;
  font-size: 3rem;
  color: var(--primary-desaturated-red);
  margin-top: 80px;
  margin-bottom: 20px;
}

main #popup #popup-content p:nth-child(2) {
  font-weight: 500;
  font-size: 0.8rem;
}

main #popup.show {
  display: block;
}

@media only screen and (max-width: 740px) {
  #nav {
    position: relative;
  }
  #nav #logo {
    margin-left: 40px;
  }
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  main #content {
    padding: 40px;
    text-align: center;
  }
  main #content #form {
    margin: auto;
  }
  main #content #form #submit {
    width: 60px;
  }
  main #hero-image {
    height: 300px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    background-image: url("../assets/img/hero-mobile.jpg");
    background-position: left top;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

@media only screen and (max-width: 425px) {
  main #content #form {
    margin: 0px;
  }
  main #content #form #submit {
    width: 60px;
  }
}

@media only screen and (max-width: 350px) {
  main #content #title {
    font-size: 2rem;
  }
}

#email:-internal-autofill-selected {
  background-color: transparent !important;
  background-image: none !important;
  color: -internal-light-dark-color(black, white) !important;
}
/*# sourceMappingURL=style.css.map */